<!doctype html>
<html lang="pl">
<head>
    <title>Couch Base App</title>
</head>

<script src="js/functions.js"></script>
<body>
    <h2 style="text-align: center">Hello!</h2>

    <form>
        <button onclick="search" />
    </form>

</body>
</html>